header{
    height: 12%;
    border-radius: 0.5em; 
    border-color: #000;
    margin: 0.3em;
}
.logo{
    float: left;
    height: 100%;
    width: 15%;
    background-image: url(/img/logoHol.png);
    background-size: 100% 100%;

}

.banner_construccion{
    float: right;
    height:100%;
    width: 83%;
    background-size: 100% 100%;
    animation: banner 10s infinite;
    animation-direction: alternate;
    border-radius: 1em;
    margin-left: .5em;
}
@keyframes .banner_construccion {
    0%, 30%{
        background-image: url(/img/banner1.png);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.1;
    }
    35%, 65%{
        background-image: url(/img/banner2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(/img/banner3.png);
        opacity: 1;
    }            
}

footer{
    background: rgb(53, 52, 51);
    border-radius: 1em;
    margin: 0.8em;
    font-family: sans-serif;
    font-size: 14px;
    color: white; 
    height: 16%;  
}

footer h1{
    font-size: 20px;
}

.containerFooter{
    display: flex;
    margin: auto;
}

.colum1{
    margin: 2em;        
}

.colum1 p{
    color: rgb(177, 174, 174);
    margin-top: 1em;
    width: 44%;
}

.colum2{
    margin: 2em;
    width: 15%;
}

.row{    
    display: flex;    
}

.row a{
    font-size: 30px;
    color: rgba(0, 247, 255, 0.363);
    margin-top: 4px;
    line-height: 40px;
    position: relative;
    padding: 4px;
    cursor: pointer;    
}

.row a::before,
.row a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: .3s linear;
}

.row a:hover i {
    transform: scale(1.1);
}

.row a:hover::before{
    transform: skewX(20deg);
    border-left: 3px solid;
    border-right: 3px solid;
    border-radius: 50%;
}

.row a:hover::after{
    transform: skewY(-25deg);
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 50%;
}

.fa-facebook{
    color: #1877f2;
    filter: drop-shadow(5px 5px 5px #1877f2);
}

.fa-instagram{
    color: #c32aa3;
    filter: drop-shadow(5px 5px 5px #c32aa3);
}

.fa-whatsapp{
    color: #25d366;
    filter: drop-shadow(5px 5px 5px #25d366);
}

.fa-twitter{
    color: #1877f2;
    filter: drop-shadow(5px 5px 5px #1877f2);
}

.row p{
    color: rgb(177, 174, 174);
    margin: 1em;
}

.colum3{
    margin: 2em;
    width: 19%;
}

.row2{
    display: flex;
}

.row2 i{
    font-size: 25px;
    margin-top: 10px;
    padding: 4px;
    filter: drop-shadow(5px 5px 5px #868788);
}

.row2 p{
    color: rgb(177, 174, 174);
    margin: 1em;
}

.containerFinal{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;         
}

.copyringht{    
    margin-left: 1em;
}

.informacion{
    margin-right: 1em;
}