
div#contenido{
    height: 55%;
    border-radius: 0.5em;
    margin: 0.3em;
    font-size: 40px;
    text-align: center;
}

div#section1{
    float: left;
    height: 100%;
    width: 21%;
    background-color: #a4a4a4a4;
    border-radius: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
    text-align: center;
    color: rgb(42, 77, 173);
    font-style: italic;
}
#titulo{
    font-style: normal;    
}
.img {
    border-radius: 0.5em;
}
div#section{
    float: left;
    height: 100%;
    width: 55.7%;
    background-size: 100% 100%;
    background-color: #ebe5e1;
    border-radius: 0.5em;
    border-radius: 1em;
    font-family: calibri;
    font-size: 20px;
    text-align: center;
}
div#aside{
    height: 100%;
    width: 21%;
    background-color: slategrey;
    border-radius: 0.5em;  
    margin-left: 0.5em; 
    float:right;
    font-size: 40px;
    color:black;
    text-align: center;
}
.art{
    width: 98%;
    height: 30%;
    background-color: beige;
    margin: 0.3em;
    align-content: center;
    border-radius: 0.5em;
}
.form-contacto{
    width: 80%;
    background-color: rgb(220, 222, 226);
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
}
.form-contacto h3{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.control{
    width: 90%;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 20px;
}
.form-contacto p{
    height: 40px;
    width: 20;
    font-size: 15px;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    line-height: 40px;
}
.form-contacto select{
    height: 40px;
    width: 20%;
    font-size: 15px;
    padding: 6px;
    border-bottom: 4px;
    margin-bottom: 16px;
}
.form-contacto .boton1{
    width: 49%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 16px;
    margin: 16px 0;
    font-size: 22px;
}
#maps{
    margin: 0%;
    margin-top: 0.5em;
    border-radius: 5em;
}