*{
    margin: 0;
    padding: 0;
}
div#contenedor{
    width: 95%; height: 2000px;
    background-color: #fff8dc;
    margin: 0.5em auto; padding: 0.5em;
    font-family: "calibri";
}
header{
    height: 12%;
    border-radius: 0.5em; 
    border-color: #000;
    margin: 0.3em;
}
.logo{
    float: left;
    height: 100%;
    width: 15%;
    background-image: url(/img/logoHol.png);
    background-size: 100% 100%;

}


.banner{
    float: right;
    height:100%;
    width: 83%;
    background-size: 100% 100%;
    animation: banner 10s infinite;
    animation-direction: alternate;
    border-radius: 1em;
    margin-left: .5em;
}
@keyframes banner {
    0%, 30%{
        background-image: url(/img/banner1.png);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.1;
    }
    35%, 65%{
        background-image: url(/img/banner2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(/img/banner3.png);
        opacity: 1;
    }            
}
div#nav{
    height:4%;
    border-radius: 0.5em;
    margin: 0.3em;
    background-color:#00008b ;
    
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: auto;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    display:block;
    padding: 29px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
#menu ul li a:hover{
    background-color: #4244b8;

}

div#contenido{
    height: 55%;
    background-color: #fff8dc;
    border-radius: 0.5em;
    margin: 0.3em;
    font-size: 40px;
    text-align: center;
}

div#section1{
    float: left;
    height: 100%;
    width: 21%;
    background-color:cornsilk;
    border-radius: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
    text-align: center;
}

div#section{
    float: left;
    height: 100%;
    width: 55.7%;
    background-size: 100% 100%;
    background-color: #d2691e;
    border-radius: 1em;
    font-family: calibri;
    font-size: 20px;
    text-align: center;
    }

    #container_index01{
        width: 98%;
        height: 23%;
        background-color: rgba(245, 245, 220, 0.705);
        margin: 0.5em;
        border-radius: 2em;
        position: relative;
           
    }
    
    #container2{
        width: 98%;
        height: 23%;
        background-color: rgba(245, 245, 220, 0.705);
        margin: 0.5em;
        border-radius: 2em;
        position: relative;
           
    }
    
    #container3{
        width: 98%;
        height: 23%;
        background-color: rgba(245, 245, 220, 0.705);
        margin: 0.5em;
        border-radius: 2em;
        position: relative;
           
    }
    
    #container4{
        width: 98%;
        height: 23%;
        background-color: rgba(245, 245, 220, 0.705);
        margin: 0.5em;
        border-radius: 2em;
        position: relative;
           
    }
    
    .img{
        position: absolute;
        left: -80px;
        bottom: -80px;
        width: 200px;
        height: 200px;
          
    }
    
    .img:hover{
        filter: drop-shadow(5px 5px 10px black);
    }
    
    .titulo{
        position: absolute;
        left: 8.6em;
        top: 1em;         
    }
    
    .text{
        position: absolute;
        left: 12em;
        top: 5em;
        padding: 0 1rem;
        text-align: justify;
            
    }


div#aside{
    height: 100%;
    width: 21%;
    background-color: slategrey;
    border-radius: 0.5em;  
    margin-left: 0.5em; 
    float: right;
    font-size: 40px;
    color:black;
    text-align: center;  
}
.art{
    width: 98%;
    height: 30%;
    background-color: beige;
    margin: 0.3em;
    align-content: center;
    border-radius: 0.5em;
}

#calendar{
    width: 100%;
    height: 50%;
    background-color: aqua;
    font-size: 25px;
}

.form-contacto{
    width: 500px;
    background-color: rgb(220, 222, 226);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
}
.form-contacto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.control{
    width: 100%;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}
#ocupacion{
    width: 62%;
    padding: 10px;
    border-bottom: 8px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}
.form-contacto p{
    height: 40px;
    width: 20;
    font-size: 15px;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    line-height: 40px;
}
.form-contacto select{
    height: 40px;
    width: 20%;
    font-size: 15px;
    padding: 6px;
    border-bottom: 4px;
    margin-bottom: 16px;
}
.form-contacto .boton1{
    width: 49%; background-color: #1f53c5;
    border: none; padding: 12px;
    color: white; margin-bottom: 16px;
    margin: 16px 0; font-size: 16px;
}

/*div principal del calendario*/
#calendario {
    border: 4px double black ; max-width: 536px; 
    background-color:#fffafa; text-align: center; color: rgb(42, 77, 173);
}
/*tabla del calendario*/
#diasc { 
    border: 1px solid black; border-collapse: 
    separate; border-spacing: 4px;
}
#diasc th,#diasc td {
    font: normal 14pt arial;
    width: 70px; height: 30px;
}
#diasc th {
    color: white;
    background-color: rgb(42, 77, 173)
}
#diasc td {
    color: #492736;
    background-color: rgb(42, 77, 173)
}
/*línea de la fecha actual*/
#fechaactual {
    font: bold 12pt arial; padding: 0.4em
}
#fechaactual i {
    cursor: pointer ;
}
#fechaactual i:hover {
    color: blue;
    text-decoration: underline;
}
/*formulario de busqueda de fechas*/
#buscafecha {
    background-color: rgb(42, 77, 173);
    color: #050505; padding: 5px
}
#buscafecha {
    background-color: rgb(42, 77, 173);
    color: white; padding: 5px
}
#buscafecha select, #buscafecha input  {
    color: #050505; padding: 5px; 
    color: #565fad; font: bold 10pt arial;
}
#buscafecha [type=text]  {
    text-align: center;
}
#buscafecha  [type=button] {
    cursor: pointer;
}
/*cabecera del calendario*/ 
#anterior {
    float: left; width: 100px; font: bold 12pt arial;
    padding: 0.5em 0.1em; cursor: pointer ;
}
#posterior {
    float: right; width: 100px; font: bold 12pt arial; 
    padding: 0.5em 0.1em; cursor: pointer ;
}
#anterior:hover {
    color: blue;text-decoration: underline;
}
#posterior:hover {
    color: blue; text-decoration: underline;
}
#titulos {font: normal 15pt "arial black"; padding: 0.2em;
}
#maps{
    margin: 0%;
    margin-top: 0.5em;
    border-radius: 5em;
}