#contenedor {
	width: 95%;
	max-width: 1500px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
        'section1       section     aside'
        'footer         footer      footer';
}

.header{
    grid-area: header;
    padding: 20px;
    border-radius: 0.5em; 
    border-color: #000;
    margin: 0.3em;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.header .logo{
    height: 100%;
    width: 20%;
    float: left;
    background-image: url(/img/logoHol.png);
    background-size: 100% 100%;

}
.header .banner{
    height:100%;
    width: 80%;
    float: right;
    background-size: 100% 100%;
    animation: banner 10s infinite;
    animation-direction: alternate;
    border-radius: 1em;
    margin-left: .5em;
}
@keyframes banner {
    0%, 30%{
        background-image: url(/img/banner1.png);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.1;
    }
    35%, 65%{
        background-image: url(/img/banner2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(/img/banner3.png);
        opacity: 1;
    }            
}


div#contenido{
    background-color: #fff8dc;
    border-radius: 0.5em;
    margin: 0.3em;
    font-size: 40px;
    text-align: center;
    grid-area: contenido;
  	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		'section1		section 	aside';
}

div#section1{
    /*float: left;*/
    height: 100%;
    grid-area: section1;
    background-color:cornsilk;
    border-radius: 0.5em;
    display: grid;
    font-size: 40px;
    text-align: center;
}

.section{
    float: left;
    height: 100%;
    grid-area: section;
    display: grid;
    background-size: 100% 100%;
    background-color: #f58e44;
    border-radius: 1em;
    font-family: calibri;
    font-size: 20px;
    

    }

    .articulo {
        display: flex;
        background: rgb(255, 255, 255);
        border-radius: 1em;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
        margin: 1em;
    }

    
    .articulo .contenedor-texto {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    .articulo .contenedor-thumbnail {
        width: 30%;
        margin: auto;
    }
    
    .articulo .titulo {
        margin-bottom: 2px;
        font-size: 25px;
    }
    
    .articulo .titulo a {
        font-weight: 300;
        color: #000;
    }
    
    .articulo .extracto {
        font-size: 16px; 
        line-height: 20px; 
        font-weight: 250;
        margin-bottom: 5px; 
        color: #000000;
        filter: contrast(130%);
    }
    .btn-link {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 0.625em; 
        background-color: #262626;
        font-size: 1em; 
        text-transform: uppercase;
        letter-spacing: 1px;
        align-self: flex-end;
    }
    
    .btn-link:hover {
        background: #000;
        text-decoration: none;
    }
    
    .articulo .img{
        
        left: 30px;
        bottom: 30px;
        border-radius: 2em;
        filter: grayscale(100%);
          
    }
    
    .img:hover{
        filter: drop-shadow(5px 5px 10px black);
    }

    .articulo .form {
        /*position: absolute;*/
        left: 9.8em;
        top: 3.1em;    
        width: 250px;
        margin: 0 auto;
        height: 50px;
        
      }
      
      .articulo .form p {
        text-align: center;
        /*overflow: scroll;*/
      }
      
      .articulo .form label {
        font-size: 27px;
      }
      
      input[type="radio"] {
        display: none;
      }
      
      label {
        color: rgba(128, 128, 128, 0.692);
      }
      
      .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
      }
      
      label:hover,
      label:hover ~ label {
        color: black;
      }
      
      input[type="radio"]:checked ~ label {
        color: darkorange;
      }

      .contenedor_costo{
          font-family: Arial, Helvetica, sans-serif;
          color: red;
          background: rgb(255, 175, 83);
          padding: 0.2em;
          height: 20%;
          width: 25%;
          border-radius: 1em;
          margin: auto;
          text-align: center;
          left: 780px;
          bottom: 95px;
        }


div#aside{
    height: 100%;
    grid-area: aside;
    background-color: slategrey;
    border-radius: 0.5em;  
    display: grid;
    float: right;
    font-size: 40px;
    color:black;
    text-align: center;  
    min-height: 100px; 
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

#menu {
    border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
}
#menu a{
    padding: 29px;
    color: white;
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
}
#menu a:hover{
    background-color: #4244b8;
}
div#footer{
    height: 15%;
    background-color: rgb(75, 74, 72);
    border-radius: 0.5em;
    margin: 0.3em;
    font-size: 40px;
    text-align: center;
}
footer{
    background: rgb(53, 52, 51);
    border-radius: 1em;
    margin: 0.8em;
    font-family: sans-serif;
    font-size: 14px;
    color: white; 
    height: 16%;  
}

footer h1{
    font-size: 20px;
}

.containerFooter{
    display: flex;
    margin: auto;
}

.colum1{
    margin: 2em;        
}

.colum1 p{
    color: rgb(177, 174, 174);
    margin-top: 1em;
    width: 44%;
}

.colum2{
    margin: 2em;
    width: 15%;
}

.row{    
    display: flex;    
}

.row a{
    font-size: 30px;
    color: rgba(0, 247, 255, 0.363);
    margin-top: 4px;
    line-height: 40px;
    position: relative;
    padding: 4px;
    cursor: pointer;    
}

.row a::before,
.row a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: .3s linear;
}

.row a:hover i {
    transform: scale(1.1);
}

.row a:hover::before{
    transform: skewX(20deg);
    border-left: 3px solid;
    border-right: 3px solid;
    border-radius: 50%;
}

.row a:hover::after{
    transform: skewY(-25deg);
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 50%;
}

.fa-facebook{
    color: #1877f2;
    filter: drop-shadow(5px 5px 5px #1877f2);
}

.fa-instagram{
    color: #c32aa3;
    filter: drop-shadow(5px 5px 5px #c32aa3);
}

.fa-whatsapp{
    color: #25d366;
    filter: drop-shadow(5px 5px 5px #25d366);
}

.fa-twitter{
    color: #1877f2;
    filter: drop-shadow(5px 5px 5px #1877f2);
}

.row p{
    color: rgb(177, 174, 174);
    margin: 1em;
}

.colum3{
    margin: 2em;
    width: 19%;
}

.row2{
    display: flex;
}

.row2 i{
    font-size: 25px;
    margin-top: 10px;
    padding: 4px;
    filter: drop-shadow(5px 5px 5px #868788);
}

.row2 p{
    color: rgb(177, 174, 174);
    margin: 1em;
}

.containerFinal{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;         
}

.copyringht{    
    margin-left: 1em;
}

.informacion{
    margin-right: 1em;
}


.art{
    width: 98%;
    height: 30%;
    background-color: beige;
    margin: 0.3em;
    align-content: center;
    border-radius: 0.5em;
}

#calendar{
    width: 100%;
    height: 50%;
    background-color: aqua;
    font-size: 25px;
}

.form-contacto{
    width: 500px;
    background-color: rgb(220, 222, 226);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
}
.form-contacto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.control{
    width: 100%;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}
#ocupacion{
    width: 62%;
    padding: 10px;
    border-bottom: 8px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}
.form-contacto p{
    height: 40px;
    width: 20;
    font-size: 15px;
    padding: 10px;
    border-bottom: 4px;
    margin-bottom: 16px;
    line-height: 40px;
}
.form-contacto select{
    height: 40px;
    width: 20%;
    font-size: 15px;
    padding: 6px;
    border-bottom: 4px;
    margin-bottom: 16px;
}
.form-contacto .boton1{
    width: 49%; background-color: #1f53c5;
    border: none; padding: 12px;
    color: white; margin-bottom: 16px;
    margin: 16px 0; font-size: 16px;
}

/*div principal del calendario*/
#calendario {
    border: 4px double black ; max-width: 536px; 
    background-color:#fffafa; text-align: center; color: rgb(42, 77, 173);
}
/*tabla del calendario*/
#diasc { 
    border: 1px solid black; border-collapse: 
    separate; border-spacing: 4px;
}
#diasc th,#diasc td {
    font: normal 14pt arial;
    width: 70px; height: 30px;
}
#diasc th {
    color: white;
    background-color: rgb(42, 77, 173)
}
#diasc td {
    color: #492736;
    background-color: rgb(42, 77, 173)
}
/*línea de la fecha actual*/
#fechaactual {
    font: bold 12pt arial; padding: 0.4em
}
#fechaactual i {
    cursor: pointer ;
}
#fechaactual i:hover {
    color: blue;
    text-decoration: underline;
}
/*formulario de busqueda de fechas*/
#buscafecha {
    background-color: rgb(42, 77, 173);
    color: #050505; padding: 5px
}
#buscafecha {
    background-color: rgb(42, 77, 173);
    color: white; padding: 5px
}
#buscafecha select, #buscafecha input  {
    color: #050505; padding: 5px; 
    color: #565fad; font: bold 10pt arial;
}
#buscafecha [type=text]  {
    text-align: center;
}
#buscafecha  [type=button] {
    cursor: pointer;
}
/*cabecera del calendario*/ 
#anterior {
    float: left; width: 100px; font: bold 12pt arial;
    padding: 0.5em 0.1em; cursor: pointer ;
}
#posterior {
    float: right; width: 100px; font: bold 12pt arial; 
    padding: 0.5em 0.1em; cursor: pointer ;
}
#anterior:hover {
    color: blue;text-decoration: underline;
}
#posterior:hover {
    color: blue; text-decoration: underline;
}
#titulos {font: normal 15pt "arial black"; padding: 0.2em;
}
#maps{
    margin: 0%;
    margin-top: 0.5em;
    border-radius: 5em;
}