<div class="nav_bar">
    <nav id="menu">
      <input class="control" type="submit" onclick="location.href='home()'" value="Inicio"> &nbsp;
      <input class="control" type="submit" onclick="location.href='signup()'" value="Registro"> &nbsp;
      <input class="control"  type="submit" onclick="location.href='login()'" value="Ingresar"> &nbsp;
      <input class="control"  type="submit" onclick="location.href='profile()'" value="Perfil"> &nbsp;
      <input class="control" type="submit" onclick="location.href='reservation()'" value="Reservar"> &nbsp;
    </nav>
  </div>
