<div>
    <section class="form-contacto">
        <form >
            <!-- <fieldset> -->
                <div>
                    <h3>Inicio de Sesion</h3>
                </div>                
                <div>
                    <input class="control" type="text" name="mail" id="mail" placeholder="Ingrese su correo" style="height: 50px"><br/>
                    <input class="control" type="password" name="passw" id="passw" placeholder="Ingrese su contraseña"style="height: 50px"><br/>
                </div>
                <div>
                    <input class="boton2" type="submit" onclick="location.href='login()'" value="Iniciar"> &nbsp;
                    <input class="boton2" type="submit" onclick="location.href='signup()'" value="Registrarme"><br/>
                </div>
        </form>  
            <!-- <p>¿Todavía no tienes una cuenta?</p>
        
            <a href="registro.html">Crea una Cuenta</a></li>          -->
            <!-- </fieldset>            -->
    </section>
</div>      