<div>
    <section class="form-contacto">
        <form >
            <!-- <fieldset> -->
                <div>
                    <h3>Inicio de Sesion</h3>
                </div>                
                <div>
                    <input class="control" type="text" name="mail" id="mail" placeholder="Ingrese su correo" style="height: 50px"><br/>
                    <input class="control" type="password" name="passw" id="passw" placeholder="Ingrese su contraseña"style="height: 50px"><br/>
                </div>
                <div>
                    <input class="boton2" type="submit" onclick="location.href='login()'" value="Iniciar"> &nbsp;
                    <input class="boton2" type="submit" onclick="location.href='signup()'" value="Registrarme"><br/>
                </div>
        </form>  
            <!-- <p>¿Todavía no tienes una cuenta?</p>
        
            <a href="registro.html">Crea una Cuenta</a></li>          -->
            <!-- </fieldset>            -->
    </section>
</div>      

        <!-- profesor: -->

        <!-- <div class="d-flex justify-content-center align-items-center h-100" [formGroup]="form">
            <div class="card col-4 p-5">
                <div>
                    <p class="fs-2 fw-bold text-center">Iniciar sesión</p>
                </div>
                <div class="mb-4">
                    <label for="email" class="fw-bold">Correo: </label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="pepito@gmail.com" formControlName="correo">
                </div>
                <div class="mb-4">
                    <label for="doc" class="fw-bold">Contraseña: </label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="*********" formControlName="clave">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" (click)="login()">Ingresar</button>
                    <button class="btn btn-primary" (click)="signup()">Registrarme</button>
                </div>            
            </div>
        </div> -->