        
         <div class="nav_bar">
            <nav id="menu">
              <input class="control" type="submit" onclick="location.href='home()'" value="Inicio"> &nbsp;
              <input class="control" type="submit" onclick="location.href='signup()'" value="Registro"> &nbsp;
              <input class="control"  type="submit" onclick="location.href='login()'" value="Ingresar"> &nbsp;
              <input class="control"  type="submit" onclick="location.href='profile()'" value="Perfil"> &nbsp;
              <input class="control" type="submit" onclick="location.href='reservation()'" value="Reservar"> &nbsp;
            </nav>
          </div>          <div>
            <section class="form-contacto">
                <form >
                    <!-- <fieldset> -->
                    <div>
                        <h3>Registrarse</h3>
                    </div>
                    <div>
                        <input class="control" type="text" doc="documento" id="nombre" placeholder="Ingrese su numero de documento" style="height: 50px"><br/>
                        <input class="control" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" style="height: 50px"><br/>
                        <input class="control" type="text" lastname="apellido" id="phone" placeholder="Ingrese sus apellidos" style="height: 50px"><br/>
                        <input class="control" type="text" name="mail" id="mail" placeholder="Ingrese su correo" style="height: 50px"><br/>                        
                        <input class="control" type="password" name="passw" id="passw" placeholder="Cree su contraseña"style="height: 50px"><br/>
                    </div>  
                    <div><input class="boton1" type="submit" value="Crear Cuenta"><br/></div>                   
                </form>                
                    <!-- </fieldset>            -->
            </section>
        </div>